body{
  font-family:  'Roboto', Arial, sans-serif;
}

#nav, #footer, h1, h2, h3{
  font-family: 'Suez One', Georgia, serif;
}


#content .inner{
  background: #66B9BF;
  padding:10px;
}

#sidebar .inner{
  background: #07889B;
  color:white;
  padding:10px;
}

#footer{
  background: #EEAA7B;
  color:white;
  padding:10px;
}

#links a:link, #links a:visited {
  display: block;
  color: #EEAA7B;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family:  'Roboto', Arial, sans-serif;
}

img, .caption {
    display: none;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
    background: #EEAA7B;
    color: #333;
}

nav a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: bold;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #07889B;
    margin: 0;
    padding: 0 10px;
    font-family: 'Suez One', Georgia, serif;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (min-width:600px){

  #pageBody{
    display:flex;
    flex-flow:row;
  }

  #content{
    flex:3 auto;
  }

  #sidebar{
    flex:1 auto;
  }

  #nav li{
    border-right:none;
  }

  img, .caption {
      display: block;
  }

}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}


@media screen and (min-width:1000px){

  .wrapper{
    display: flex;
    flex-flow:row;
  }

  #nav ul{
    display:flex;
    flex-flow:column;
    margin: 0;
  }

  #nav li{
    border-right:none;
    border-bottom:1px solid rgba(255,255,255,.5);
  }

  #nav li:last-child {
    border-bottom: none;
  }

  #content{
    order:1;
    margin:10px;
  }

  #sidebar{
    order:3;
    margin:10px;
  }

  #nav{
    order:2;
    margin:10px;
    align-self: flex-start;
  }

  #footer{
    order:4;
  }


}
